html,
body,
#container {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#about-text {
  color: black;
  font-family: sans-serif;
}

#full-page {
  min-height: 100%;
  color: #dedede;
  background: #FFF url(backy.png) no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  text-align: center;
}

div#page-end-color {
  border-top: 5px solid #FFF;
  clear: both;
  height: 10px;
  background: url(rainbow.svg) repeat-x top left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 -3px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: -15px;
}
#container {
  margin: auto auto;
  font-family: Helvetica;
}
p {
  font-size: 2em;
}
h1 {
  font-size: 5em;
}
